<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116461300489-o19365d42bet22ma2sgp9br2nan8crq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116461300489-o19365d42bet22ma2sgp9br2nan8crq3</string>
	<key>API_KEY</key>
	<string>AIzaSyBcX3KU9iCuMaSXsjCfYLltuiRfOrbM2-U</string>
	<key>GCM_SENDER_ID</key>
	<string>116461300489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>deah.com.HuarachaSnapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-40025</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-40025.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116461300489:ios:5bce731c90682b535381d8</string>
</dict>
</plist>